<div>
    <h2 id="page-heading">
        <span>Acl Sids</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acl-sid" [routerLink]="['/acl-sid/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Acl Sid
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="acl_Sids">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Principal</span></th>
            <th><span>Sid</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acl_Sid of acl_Sids ;trackBy: trackId">
                <td><a [routerLink]="['/acl-sid', acl_Sid.id, 'view' ]">{{acl_Sid.id}}</a></td>
                <td>{{acl_Sid.principal}}</td>
                <td>{{acl_Sid.sid}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acl-sid', acl_Sid.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acl-sid', acl_Sid.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'acl-sid', { outlets: { popup: acl_Sid.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
