<div>
    <h2 id="page-heading">
        <span>Acl Classes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-acl-class" [routerLink]="['/acl-class/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Acl Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="acl_Classes">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Class Path</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let acl_Class of acl_Classes ;trackBy: trackId">
                <td><a [routerLink]="['/acl-class', acl_Class.id, 'view' ]">{{acl_Class.id}}</a></td>
                <td>{{acl_Class.classPath}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/acl-class', acl_Class.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/acl-class', acl_Class.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'acl-class', { outlets: { popup: acl_Class.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
